In [1]:
import os

# Set the environment variable
os.environ["DATABASE_URL"] = "postgresql://itversity_retail_user:itversity@localhost:5433/itversity_retail_db"

# Now retrieve it
database_url = os.environ.get("DATABASE_URL")
print(database_url)

postgresql://itversity_retail_user:itversity@localhost:5433/itversity_retail_db

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL

'postgresql://itversity_retail_user:itversity@localhost:5433/itversity_retail_db'

In [4]:
%%sql

SELECT * FROM orders LIMIT 10

10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]